$ff-epilogue: var(--ff-epilogue);

:root {
  /* --ff-epilogue */

  /* small screen font-sizes */
  --fs-200: 0.85rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #373a40;
  --clr-neutral-500: #25262b;
  --clr-neutral-900: #020203;

  --clr-primary-300: #fae60a;
  --clr-primary-400: #fcc419;

  --br: 1rem;
}

/* large screen font-sizes */
@media (min-width: 40em) {
  :root {
    --fs-500: 1.75rem;
    --fs-600: 2.125rem;
    --fs-900: 4.25rem;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class */
ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

button,
select {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* typography */

.body {
  font-family: var(--ff-epilogue);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-900);
}

/* general layout */

form,
table {
  margin: 0 auto;
  padding: 3rem 0;
}

table {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
}

/* images */

.sw-logo {
  margin: 0 auto;
  max-width: 50rem;
  max-height: 30rem;
}

/* table styling */

.table-container {
  display: flex;
  padding: 0 2rem 2rem;
}

.table-form {
  border: 1px solid var(--clr-neutral-200);
  border-radius: var(--br);
}

th {
  background-color: var(--clr-neutral-500);
  padding: 0.5rem;
}

th:not(:first-child) {
  border-left: 2px solid var(--clr-neutral-900);
}

td {
  border-bottom: 1px solid var(--clr-neutral-200);
  padding: 1rem 0;
}

tr:hover {
  transition: 350ms ease;
  background-color: var(--clr-neutral-400);
}

/* form styling */

form {
  display: flex;
  flex-direction: row;
  gap: 1.75rem;
  padding: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

form > * {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 10%;
}

.name-filter {
  margin: 2.5rem 10rem;
  width: 100%;
  flex-grow: 3;
}

.radio-sort input {
  margin: 0;
}

.radio-sort > * {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.current-filters {
  display: flex;
  gap: 1rem;
  padding: 0 1rem 1.75rem;
  transition: 350ms ease;
}

.current-filters > div {
  min-height: 3.5rem;
}

.label {
  margin-bottom: 0.2rem;
  color: var(--clr-neutral-300);
  font-size: var(--fs-200);
}

/* button styling */

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-primary-400);
  border-radius: calc(0.5 * var(--br));
  font-weight: var(--fw-700);
  color: var(--clr-primary-400);
  padding: 1rem;
  position: relative;
  z-index: 1;
}

button:hover {
  color: var(--clr-primary-300);
  border-color: var(--clr-primary-300);
  transition: 350ms ease;
}

button:active {
  background-color: var(--clr-primary-400);
  opacity: 0.8;
  transition: 50ms ease;
}

button::before {
  --offset: -0.09rem;

  content: '';
  position: absolute;
  z-index: -1;
  top: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  left: var(--offset);
  border-radius: calc(0.5 * var(--br));
  box-shadow: 0 0 0.85rem var(--clr-primary-400);
  // box-shadow: 0 0 1.75rem rgb(244, 231, 92);
  transition: opacity 350ms ease;
  opacity: 0;
}

button:hover::before {
  opacity: 1;
}

button:disabled {
  border-color: var(--clr-neutral-300);
  color: var(--clr-neutral-300);
}

button:disabled:hover::before {
  opacity: 0;
}

.remove-filters,
.apply-filter,
.apply-order {
  text-transform: uppercase;
  max-width: 6rem;
  min-height: 5.125rem;
  margin: auto 0;
}

/* select styling */

select {
  font-weight: var(--fw-700);
  color: inherit;
  border-bottom: 1px solid var(--clr-neutral-200);
}

/* input styling */

input {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--clr-neutral-200);
  border-radius: calc(0.5 * var(--br));
  background-color: transparent;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/* radio styling */
label {
  font-weight: var(--fw-700);
}

input[type='radio']:checked {
  accent-color: var(--clr-primary-400);
}
